
#cabin_window_big {
  animation-name: opacity;
  animation-delay: 2.45s;
}

#cabin_window_small,
#opacity_dirigible {
  animation-name: opacity_from1_to0;
  animation-delay: 2.5s;
}

#cabin_window_big,
#cabin_window_small {
  animation-duration: 0.001s;
  animation-fill-mode: both;
}

#opacity_dirigible {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}



