@keyframes rules-bullets {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rules-paragraphs {
  from {
    opacity: 0;
    transform: translateX(15px)
  }

  to {
    opacity: 1;
  }
}

@keyframes rules-button {
  from {
    opacity: 1;
    max-width: 0;
  }

  to {
    opacity: 1;
    max-width: 100%;
  }
}

@keyframes rules-button-text {
  from {
    color: transparent;
  }

  to {
    color: $c-dark;
  }
}
